/* CSS styles */
@import url('https://fonts.googleapis.com/css2?family=Hubballi&family=Inter:wght@300&display=swap');

/* body */
body {
    background-color: black;
    color: white;
}

#top {
    margin: 0;
    padding: 101px 0px;
    height: 1vh;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    text-align: center;
    font-family: "Inter";
    font-size: 66px;
}